body {
    background-color: #000;
    color: #0f0;
    font-family: "Pixelify Sans", monospace;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    pointer-events: none;
    background-size: 100% 2px, 3px 100%;
}


#terminal {
    padding: 10px;
    text-shadow: 0 0 5px #0f0;
    animation: flicker 0.15s infinite;
}

#command-input {
    background: transparent;
    border: none;
    color: #0f0;
    font-family: "Pixelify Sans", monospace;
    font-size: 1em;
    outline: none;
    text-shadow: 0 0 5px #0f0;
    width: 90%;
}


@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
